<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{#each users as |user|}}
    <title>{{user.displayName}}(@{{user.username}})</title>
    {{/each}}
    <link rel="stylesheet" href="/css/homepage.css">
    <link rel="stylesheet" href="/css/user.css">
    <link rel="stylesheet" href="/css/stats-nav.css">

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="/js/posts.js" defer></script>
    <script src="/js/index.js" defer></script>
    <script src="/js/user.js" defer></script>
    <script>
        const loggedInUser = {{{ convert loggedInUser }}}
        const users = {{{ convert users }}}
        const posts = {{{ convert posts }}}
    </script>
</head>

<body>


    <div id="app">
        {{> sidebar}}
        <div class="hero-section">

            {{#each users as |user|}}
            <h3 class="heading">{{user.displayName}}</h3>
            {{/each}}

            {{!-- PROFILE --}}

            {{> profilesContainer}}

            <div class="stats-nav">
                <div class="nav-item nav-active nav-item-posts">Posts</div>
                <div class="nav-item nav-item-followers">Followers</div>
                <div class="nav-item nav-item-following">Following</div>
            </div>
            {{> postsContainer}}
            {{!-- Followers --}}
            <div class="followers-tab">
                {{#each users as |user|}}
                {{#each user.followers as |follower|}}
                <div class="follower" class="f_{{follower._id}}">
                    <div>
                        <img class="follower__displayPic" src="{{follower.displayPic}}" alt="" width="24" height="24">
                    </div>
                    <div class="follower__displayName">{{follower.displayName}}</div>
                    <div class="follower__username">{{follower.username}}</div>
                    <div>
                        <button class="follow-btn">Follow</button>
                    </div>
                </div>
                {{/each}}
                {{/each}}


            </div>

            {{!-- Following --}}
            <div class="following-tab" class="f_{{follower._id}}">
                {{#each users as |user|}}
                {{#each user.following as |follower|}}
                <div class="following">
                    <div>
                        <img class="following__displayPic" src="{{follower.displayPic}}" alt="" width="24" height="24">
                    </div>
                    <div class="following__displayName">{{follower.displayName}}</div>
                    <div class="following__username">{{follower.username}}</div>
                    <div>
                        <button class="follow-btn ">Follow</button>
                    </div>
                </div>
                {{/each}}
                {{/each}}
            </div>
        </div>
</body>

</html>